<% layout('layouts/boilerplate')%>
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tìm dự án</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form onsubmit="search(event)" class="d-flex">

                        <input type="text" id="searchInput" class="form-control " placeholder="Search..." />

                        <button type="submit" id="queryBtn2" class="btn btn-primary"><i
                                class="fa fa-search"></i></button>

                    </form>
                    <div class="card">
                        <div class="card-body list" id="results">
                            <div id="results" class="list-group">

                            </div>
                        </div>
                    </div>
                    <script>
                        async function search(event) {
                            event.preventDefault();
                            const resHolder = document.getElementById("results");
                            resHolder.innerHTML = "";
                            const query = document.getElementById("searchInput").value;

                            let url = `<%= process.env.DOMAIN_NAME %>/search/projects?search=${query}`;
                            const response = await fetch(url, {
                                method: 'get'
                            });
                            const data = await response.json();

                            const projects = document.getElementById("projects");
                            for (let one of data) {
                                const newDiv = document.createElement("div");
                                const project = document.createElement("a");
                                project.classList.add('list-group-item', "list-group-item-action")
                                project.innerHTML = one.title.length > 30 ? `${one.title.substring(0, 30)}...` : one.title;
                                project.addEventListener("click", () => {
                                    const memberDiv = document.createElement("div");
                                    memberDiv.classList.add('alert', 'alert-light', 'alert-dismissible', 'fade', 'show', 'border', 'my-0')
                                    memberDiv.innerHTML = `
                        <a class="avt-link" href="/projects/${one.id}">
                  ${one.title}
                </a>
                <input value="${one.id}" name="ProjectId[]" hidden>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="alert" aria-label="Close"></button>`;
                                    projects.appendChild(memberDiv);
                                });
                                newDiv.appendChild(project);
                                resHolder.appendChild(newDiv);
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-5 mb-3">
        <a href="/manage/assets" class="tree-menu-link">Tài sản</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
        </svg>
        Thêm tài sản
    </h3>
    <div class="row">
        <form class="mt-5 col-xl-7" action="/manage/assets/new" id="financeform" method="POST">
            <div class="">
                <div class="mb-3">
                    <div class="d-flex justify-content-between mb-2">
                        <label for="members" class="">Dự án</label>

                        <div>
                            <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#projectModal">
                                <i class='bx bx-search'></i>
                            </a>
                        </div>

                    </div>
                    <div id="projects">
                        <% if(project){ %>
                            <div class="alert alert-light border alert-dismissible fade show my-0">
                                <a class="avt-link" href="/projects/<%= project.id %>">
                                    <%= project.title %>
                                </a>
                                <input value="<%= project.id %>" name="ProjectId" hidden>
                                <button type="button" class="btn-close btn-danger" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Mô tả</label>
                    <input type="text" id="" class="form-control" placeholder="" name="title" />
                </div>


                <div class="mb-3">
                    <label for="project-overview" class="form-label">Chú thích</label>
                    <textarea class="form-control" id="" rows="5" placeholder="" name="description"></textarea>
                </div>
                <!-- Date View -->
            </div>

            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" id="financesubmit" type="submit">Tạo</button>
                </div>
            </div>
        </form>
    </div>